<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Table editor</title>
</head>
<body>
Your can edit the user:
<br>
<form th:method="POST" th:action="@{/edit?id={id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name" required/>
    <br>
    <br>
    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName" required/>
    <br>
    <br>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age" required/>
    <br>
    <br>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username" required/>
    <br>
    <br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password" required/>
    <br>
    <br>
    <label for="role1">Set user role</label>
    <input type="checkbox" name="ROLE_USER" th:checked="${userRole}" id="role1" />
    <br>
    <label for="role2">Set admin role</label>
    <input type="checkbox" name="ROLE_ADMIN" th:checked="${adminRole}" id="role2" />
    <br>
    <br>
    <input type="submit" value="Update!">
</form>
</body>
</html>